@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Special+Elite');


/*Stylesheet for index of wedding website*/

/*https://stackoverflow.com/questions/1909648/stacking-divs-on-top-of-each-other
https://css-tricks.com/snippets/css/css-triangle/ */ 
/*IMPORTED FONTS

    font-family: 'Special Elite', cursive;
    font-family: 'Patrick Hand', cursive;
*/
body {
    background-color: aquamarine;
}

/*MOBILE*/
.Grid
{
    display: grid;
    grid-template-areas: "Title"
        "NavBar"
        "InfoPage"
        "ImageGallery"
        "Footer";
}

.Title {
    grid-area: Title;
    background-color: aquamarine;
    padding: 0px 5px;
}

.Title .BrownPaper {
    background-color: chocolate;
    margin: 10px auto;
    max-width: 300px;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
}

.BrownPaper .Filter{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}

.BrownPaper .TLGap {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 100px 150px 0 0;
    border-color: aquamarine transparent transparent transparent;
    z-index: 2;
}

.BrownPaper .TRGap {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 150px 100px 0;
    border-color: transparent aquamarine transparent transparent;
    z-index: 2;
}

.BrownPaper .BRFlap {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 100px 250px;
    border-color: transparent transparent chocolate transparent;
    z-index: 5;
}

.BrownPaper .BLFlap {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;    
    border-width: 100px 0 0 250px;
    border-color: transparent transparent transparent chocolate;
    z-index: 5;
}

.BrownPaper .BRShadow {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 102px 268px;
    border-color: transparent transparent rgba(0,0,0,0.3) transparent;
    z-index: 4;
}

.BrownPaper p {
    position: relative;
    max-width: 250px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 5px 5px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 3em;
    background-color: whitesmoke;
    border: none;
    box-shadow: -6px 6px 0px rgba(0,0,0,0.3);
    z-index: 3;
    transition: margin-top 0.1s, padding-bottom 0.1s;
}

.BrownPaper:hover p{
    margin-top: 0px;
    padding-bottom: 60px;
}

.NavBar {
    grid-area: NavBar;
    font-family: 'Patrick Hand', cursive;
}

.InfoPage
{
    grid-area: InfoPage;
}

.ImageGallery
{
    grid-area: ImageGallery;
}

.Footer
{
    grid-area: Footer;
}
/*DESKTOP*/
@media screen and (min-width: 600px)
{
    .Grid
    {
        display: grid;
        grid-template-areas: "Title Title"
            "NavBar NavBar"
            "InfoPage ImageGallery"
            "Footer Footer";
    }

    .Title .BrownPaper{
        max-width: 500px;
    }

    .BrownPaper p {
        font-size: 3.6em;
        max-width: 450px;
        padding-bottom: 60px;
        padding-top: 20px;
        box-shadow: -8px 8px 0px rgba(0,0,0,0.3);
    }

    .BrownPaper:hover p {
        margin-top: 0px;
        padding-bottom: 80px;
    }

    .BrownPaper .BLFlap{
        border-width: 150px 0 0 400px;
    }

    .BrownPaper .BRFlap{
        border-width: 0 0 150px 400px;
    }

    .BrownPaper .BRShadow{
        border-width: 0 0 152px 434px;
    }

    .BrownPaper .TLGap {
        border-width: 100px 250px 0 0;
    }

    .BrownPaper .TRGap {
        border-width: 0 250px 100px 0;
    }
}
/*Could add other designs here, like tablet 
    https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile*/